body {
  background: #efefef;
  font-family: "M PLUS 2", sans-serif;
  font-weight: 300;
}
h1 {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 210px;
  line-height: 0.9;
  margin-left: 16px;
}
.about {
  font-size: 30px;
}
.hero p {
  margin-top: 300px;
  margin-right: 70px;
}
.bg-light {
  background: #efefef !important ;
}
.hero {
  padding-top: 250px;
}
.mail {
  background: black;
  border: 2px solid black;
  padding: 8px 30px;
  border-radius: 50px;
  text-decoration: none;
  color: #efefef;
}
.mail:hover {
  color: black;
  background-color: #efefef;
}

@media (max-width: 600px) {
  h1 {
    font-size: 70px;
  }
  .hero {
    padding-top: 25px;
  }

  .mail {
    display: block;
    text-align: center;
    padding: 12px 40px;
    margin: 0 auto;
  }
}
