body {
  background: #efefef;
  font-family: "M PLUS 2", sans-serif;
  font-weight: 300;
}
h1 {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 210px;
  line-height: 0.9;
  margin-left: 16px;
}
.about {
  font-size: 30px;
}
.hero p {
  margin-top: 300px;
  margin-right: 70px;
}
.bg-light {
  background: #efefef !important ;
}
.hero {
  padding-top: 250px;
}
.mail {
  background: black;
  border: 2px solid black;
  padding: 8px 30px;
  border-radius: 50px;
  text-decoration: none;
  color: #efefef;
  margin-top: 50px;
  display: block;
  max-width: 175px;
}
.mail:hover {
  color: black;
  background-color: #efefef;
}
.skills {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.wrapper_skills {
  padding: 0 10px;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 10px;
  margin-right: 0px;
}
.wrapper_skills h2 {
  font-size: 50px;
  margin-bottom: 50px;
}
.count {
  opacity: 0.1;
}
ul {
  list-style: none;
}
li {
  display: inline;
}
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 30px;
}
.footer a {
  font-size: 14px !important;
}
.project {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 30px 0;
}
.project_img a {
  font-size: 100px;
  opacity: 0.2;
}
.project p {
  font-size: 14px;
}
.project_img {
  display: flex;
  justify-content: space-around;
  justify-content: right;
}
.container_project {
  margin-top: 75px;
  margin-left: 30px;
  margin-right: 50px;
  margin-bottom: 100px;
}
.container_project h2 {
  font-size: 75px;
}

.project_link {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.project_link:hover {
  color: black;
  opacity: 0.5;
}
.contact_page {
  margin: 100px 30px;
  margin-right: 300px;
  padding-bottom: 40px;
}
.contact_page h1 {
  font-size: 75px;
  line-height: 1.1;
}
@media (max-width: 600px) {
  h1 {
    font-size: 70px;
  }
  .hero {
    padding-top: 25px;
  }

  .mail {
    display: block;
    text-align: center;
    padding: 12px 40px;
    margin: 0 auto;
  }
}
